* {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    margin: 0;
}
.body__child {
    height: 100vh;
    display: flex;
    align-items: center;
}

.input__parent {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.input__name {
    width: 25%;
}

.input__email {
    width: 45%;
}

.btn__subscribe {
    color: #fff;
    background-color:#FF69B4;
    width: 25%;
    border-style: none;
}

.input__styles {
    background-color: #EDEDED;
    border-style: none;   
}

.padding {
    padding: 0.5em 1em;
    border-radius: 5px;
}

@media(max-width:460px) 
    {
    .input__parent 
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;  
    }
    .input__name 
    {
        width: 34%;
        margin: 0.5em 0.1em;
    }
    .input__email 
    {
        width: 63%;
        margin: 0.5em 0.1em;
    }
    .btn__subscribe 
    {
        width: 100%;
        margin: 0.5em 0.1em;
    }
}